p {
    border: 5px solid red;
    padding: .8em;
}
li {
    border: 2px; 
    border: 1px solid blue;
    display: block;
    background: yellow;
    padding: .8em;
  }
span {
  background-color: yellow;
}




<!--
1. Create an external style sheet => style.css, link the style sheet on line 13 and complete the assignments below
2. Give the paragraph a solid purple border
3. Have the li elements stack next to each other and not on top of each (hint: inline vs block vs inline-block)
4. Make each li element have a solid blue border
5. Make the span display as a block and not inline
6. Have all elements have a padding of .8em
7. Highlight the span tags yellow
-->